In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
y=np.random.rand(10,3)

array([[0.08332697, 0.23260518, 0.99164141],
       [0.45280297, 0.74233056, 0.56782308],
       [0.5353988 , 0.97868051, 0.83867687],
       [0.36368343, 0.83549437, 0.25515752],
       [0.40075215, 0.23829854, 0.05093994],
       [0.55967506, 0.02333082, 0.41284596],
       [0.29199772, 0.85431746, 0.70353304],
       [0.64299398, 0.42443063, 0.55747346],
       [0.87975402, 0.48667274, 0.12963759],
       [0.7925856 , 0.16110399, 0.80502101]])

In [22]:
np.random.randn(1,5,3)

array([[[ 1.49598846,  1.74139052,  0.64803688],
        [ 0.33315217,  0.03612094, -0.25194623],
        [-1.18881063, -0.69443604, -1.18910386],
        [-1.41246693,  1.9708038 , -0.7437621 ],
        [-0.43761541, -0.28239676,  0.93865258]]])

In [47]:
y=np.random.randint(1,21,20,).reshape(5,4)
x=pd.DataFrame(y)
x.rename(columns={0:'A',1:'B',2:'C',3:'D'},inplace=True)
x

    A   B   C   D
0  13  11  12  15
1   4  15  14  11
2   5   5  11  18
3  15  15  11   1
4  10   5  17   3

In [ ]:
#hop cloths
#Sales